<% if logged_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
<% else %>
  <p><a href="/users/new">Sign up for an account!</a></p>
  <p>Or <a href="/session/new">Log in!</a></p>
<% end %>

<form method="GET" action="/">
  <input type="search" name="query" />
  <button>Search</button>
</form>

<% @stalls.each do |stall| %>
  <article class="stall">
    <h3><%= stall.name %></h3>
    <p><%= stall.address %></p>
    <ul>
      <% stall.supported_rentalrequests.each do |rentalrequest| %>
        <li><%= rentalrequest.name %></li>
      <% end %>
      <li><a href="/stalls/<%= stall.id %>/supported_rentalrequests/new">Add a Rental Request to this Stall</a></li>
    </ul>
  </article>
<% end %>
