<h2>Sign Up For An Account</h2>
<form method="POST" action="/users">

  <label>Email Address:
    <input type="email" name="user[email]" value="<%= @user.email %>"/></label>
      <%= erb :_error, {:locals => { :model => @user, :field_name => :email } } %>
  <label>Full Name:
    <input type="text" name="user[name]" value="<%= @user.name %>"/></label>
      <%= erb :_error, {:locals => { :model => @user, :field_name => :name } } %>

  <label>Password:
    <input type="password" name="user[password]" /></label>
      <%= erb :_error, {:locals => { :model => @user, :field_name => :password } } %>

  <button>Sign Up</button>

</form>
